font-face = "Open Sans", sans-serif, Arial

default-font-color = #555459//#797875

nav-height = 50px
nav-border-height = 0

editable-color = #999
save-remaining-color = lime

root-addon-size = 220px
root-addon-bg = #31373d //#4D394B
root-addon-shadow = inset -78px 0px 18px -76px rgba(0,0,0,0.6)

kernel-addon-size = 400px
kernel-addon-bg = #f8f8f8
kernel-addon-border = 1px solid #e8e8e8
kernel-addon-shadow = inset 3px 0px 23px -15px rgba(0,0,0,0.6)