font-face = "Open Sans", sans-serif, Arial

default-font-color = #555459//#797875

nav-height = 50px
nav-border-height = 0

editable-color = #999
save-remaining-color = lime

root-addon-size = 220px
root-addon-bg = #31373d //#4D394B

kernel-addon-size = 400px
kernel-addon-bg = #F5F5F5
kernel-addon-border = 3px solid #e8e8e8