template(name="channel")
  .channel-wrapper
    ul.starred
      li.header.icon-star-1
        span QUAN TRỌNG
    ul.channels
      li.header
        span KÊNH TRÒ CHUYỆN
        .create-channel.icon-plus
      each channels
        li.channel-item.public.icon-hash(class="{{isActiveChannel}}") {{name}}
    ul.direct-message
      li.header
        span TRỰC TIẾP
        .create-channel.icon-plus
      each friends
        li.channel-item.direct(class="{{isActiveChannel}}")
          span.online-status
          span {{username}}
    ul.private-group
      li.header
        span NHÓM TRÒ CHUYỆN
        .create-channel.icon-plus
      each groups
        li.channel-item.private.icon-hash(class="{{isActiveChannel}}") {{name}}