template(name="customer")
  .nano.animated.bounceInDown: .nano-content
    unless getPublishedCount 'customer'
      +customerEmpty
    else
      +customerList

template(name="customerEmpty")
  .zero-state
    input.wings-field.insert(name="insertInput")
    .insert-arrow-icon.icon-back
    .cog-icon.icon-appbar-cog.animate-spin
    .header Tạo mới để bắt đầu
    .sub-header Quy trình dựa trên bộ hồ sơ Mackay 66.
    img.cover-icon(src="/images/svg/orders-empty-state.svg")
    a.peter-river.button.create-command Tải danh sách khách hàng

template(name="customerList")
  .list
    each documents
      .doc-item
        .avatar-wrapper: .avatar-image(class="{{missingImageClass image}}"
        style="background-image:url('{{productImageSrc image}}')") {{avatarLetter companyName}}
        .doc-info
          .title {{companyName}} <br/>
          .sub-title {{companyAddress}}
        .time-stamp.icon-clock {{standardDate version.createdAt}}