template(name="orderDetail")
  .nano.animated.fadeIn: .nano-content
    .section
      .region
        .title
          span Thêm sản phẩm
          span.sub-title cho khách hàng AAAAAA
        .region-row
          +wingsSelect(wrapperClass="col-4" options=productSelectOptions)
          +regionInput(wrapperClass="importPrice col-2" prefix="VNĐ" type="number" label="số lượng")
          +regionInput(wrapperClass="importPrice col-2" prefix="VNĐ" type="number" label="giá nhập")




        .region-row
          table(style="width:100%")
            tr
              th(style="width:auto; text-align: left") SẢN PHẨM
              th(style="width:80px; text-align: right") ĐƠN VỊ
              th(style="width:150px; text-align: right") SỐ LƯỢNG
              th(style="width:150px; text-align: right") GIÁ BÁN

            each instance.details
              tr
                td {{productName}}
                td {{quality}}
                td {{price}}