@require '../../wings.import.styl'

area-radius = 3px
.dual-layout#home .area
  border-radius area-radius
  margin 3px 3px 5px 3px
  background-color #ffffff
  border kernel-addon-border

  &.social-header
    .cover
      height 100px
      background-color #C8C8C8
      border-radius top (area-radius - 1)
    .navs
      position relative
      height 50px
      .avatar-wrapper
        clearfix()
        absolute left 10px top -42px
        .avatar
          avatar-size(76px)
          background-color #6ABCF5
          background-size cover
          border 3px solid #fff
          border-radius 6px
